a.autoTooltip {
}

.tt {
	overflow: hidden;
	position: absolute;
	border: medium none;
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	width: 250px;
}

.tt .bd {
	padding:5px;
}

.ttPosUnder {
	background:transparent url(../images/top.gif) no-repeat scroll left top;
	padding: 13px 0pt 0pt;
}

.ttPosUnder .bd {
	background: #FFFFFF none repeat scroll 0%;
	border-color: #666666;
	border-style: solid;
	border-width: 0pt 1px 1px;
	padding: 12px 17px 10px 8px;
}

.ttPosOver {
	background:transparent url(../images/bottom.gif) no-repeat scroll left bottom;
	padding: 0pt 0pt 13px;
}

.ttPosOver .bd {
	background: #FFFFFF none repeat scroll 0%;
	border-color: #666666;
	border-style: solid;
	border-width: 1px 1px 0pt;
	padding: 8px 17px 12px 8px;
}
