.set, .tag {
	margin-right: 5px;
	margin-bottom: 5px;
}

img.flickr_img {
	border: 0px;
}

a.flickr {
	text-decoration: none;
}

div.flickrTag_error p {
	margin: 0px;
	padding: 5px;
	font-weight: bold;
}

div.flickrTag_error {
	background: #FFEFF7 none repeat scroll 0%;
	border: 1px solid #CC6699;
}
